<template name="QueueCard">
  <a class="queue-card card" href="/queue/{{queue._id}}">
    <div class="queue-card-pattern card-img-top" style="background: {{queue.svgPatternUrl}}"></div>
    <div class="card-body">
      <h4 class="card-title text-truncate">{{queue.course.name}} &middot; {{queue.name}}</h4>
      <p class="card-subtitle text-truncate">{{queue.course.description}}</p>
      <p class="card-text text-muted mt-3">
        <span class="mr-2"><i class="material-icons">location_on</i>{{queue.location.name}}</span>
        <span><i class="material-icons">people</i>{{queue.formatTicketCount}}</span>
      </p>
    </div>
    <div class="card-footer text-muted">
      <i class="material-icons">access_time</i>Ends at {{queue.formatScheduledEndTime}}
    </div>
  </a>
</template>
