<template name="courseSettings">
  <div class="ui fluid card courseSettings" data-course="{{name}}">
    <div class="content">
      <div class="ui right floated toggle checkbox js-active-checkbox">
        <input type="checkbox" name="active" tabindex="0" class="hidden" form="{{name}}-general">
        <label>{{#if active}}Active{{else}}Inactive{{/if}}</label>
      </div>
      <div class="header">{{name}}</div>
    </div>

    {{> courseSettingsGeneral}}
    {{> courseSettingsTAs}}
    {{> courseSettingsLogs}}
    {{> courseSettingsSettings}}

    <div class="content">
      <a class="ui link js-delete-course">Delete</a>
    </div>
  </div>
</template>

<template name="courseSettingsGeneral">
  <div class="content">
    <form id="{{name}}-general" class="ui form">
      <div class="fields">
        <div class="four wide field">
          <label>Name</label>
          <input type="text" name="name" placeholder="e.g. cs00" value="{{name}}" disabled>
        </div>

        <div class="six wide field">
          <label>Description</label>
          <input type="text" name="description" placeholder="e.g. Intro to Object Oriented Programming" value="{{description}}" disabled>
        </div>

        <div class="six wide field">
          <label>Listserv</label>
          <input type="email" name="listserv" placeholder="e.g. cs00tas@lists.cs.brown.edu" value="{{listserv}}" disabled>
        </div>
      </div>
      <p>Editing functionality coming soon.</p>
    </form>
  </div>
</template>

<template name="courseSettingsTAs">
  <div class="content">
    <h4>HTAs and TAs</h4>
    <form class="ui form js-ta-input">
      <div class="ui fluid large action input">
        <input type="email" placeholder="ta_email@brown.edu" required>
        <button class="ui button" role="submit">Add</button>
      </div>
    </form>

    {{#if tasExist}}
      <div class="ui relaxed list">
        {{#each userId in htas}}
          {{> taItem userId=userId course=name hta=true}}
        {{/each}}
        <div class="ui divider"></div>
        {{#each userId in tas}}
          {{> taItem userId=userId course=name hta=false}}
        {{/each}}
      </div>
    {{else}}
      <div class="no-tas">
        Add TAs by entering their email address above.
      </div>
    {{/if}}
  </div>
</template>

<template name="taItem">
  <div class="item">
    <div class="content">
      <div class="ui right floated icon top left pointing dropdown basic button js-ta-dropdown">
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item js-change-role">
            {{#if hta}}Make TA{{else}}Make HTA{{/if}}
          </div>
          <div class="item js-delete">Delete</div>
        </div>
      </div>
      <div class="header">
        {{userName userId}}
        {{#if hta}}<div class="ui horizontal label">HTA</div>{{/if}}
      </div>
      {{userEmail userId}}
    </div>
  </div>
</template>

<template name="courseSettingsLogs">
  <div class="content">
    <h4>Logs</h4>
    <form class="ui form js-logs-form">
      <div class="fields">
        <div class="five wide field">
          <label>Type</label>
          <select name="type" class="ui fluid dropdown">
            <option value="tickets">Tickets</option>
            <option value="queues">Queues</option>
          </select>
        </div>

        <div class="four wide field">
          <label>Start Date</label>
          <input name="startTime" class="ui dropdown datetimepicker js-start-time-picker" type="text"/>
        </div>

        <div class="four wide field">
          <label>End Date</label>
          <input name="endTime" class="ui dropdown datetimepicker js-end-time-picker" type="text"/>
        </div>

        <div class="three wide field">
          <label>&nbsp;</label> <!-- Empty label for spacing -->
          <button class="ui fluid labeled icon primary button" type="submit">
            <i class="download icon"></i>
            Download
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<template name="courseSettingsSettings">
  <div class="content">
    <h4>Settings</h4>
    <form class="ui form js-settings-form">
      <div class="inline field">
        <div class="ui left floated">
          <label><strong>Signup Gap</strong></label>
          <p>Minimum time a student must wait between signups for a queue.</p>
        </div>
        <select name="signup-gap" class="ui right floated fluid dropdown js-signup-gap-select">
          <option value="0" {{isCurrentGap 0}}>No gap</option>
          <option value="5" {{isCurrentGap 5}}>5 minutes</option>
          <option value="10" {{isCurrentGap 10}}>10 minutes</option>
          <option value="20" {{isCurrentGap 20}}>20 minutes</option>
          <option value="30" {{isCurrentGap 30}}>30 minutes</option>
          <option value="45" {{isCurrentGap 45}}>45 minutes</option>
          <option value="60" {{isCurrentGap 60}}>1 hour</option>
        </select>
      </div>
    </form>
  </div>
</template>
