.create-queue-card-container {
  min-height: 199px;
}

.dashed-card {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  color: $navbar-light-color;
  border: 2px dashed $navbar-light-color !important;
  transition: all 0.2s ease;

  &:hover, &:focus, &:active {
    color: $navbar-light-hover-color;
    text-decoration: none !important;
    border-color: $navbar-light-hover-color;
  }
}

.create-queue-link {

  &:hover {
    text-decoration: none;
  }
}
