.custom-table {
  min-height: 400px;

  border: 1px solid $gray-200;
  border-radius: 4px;
}

.thead > .row,
.tbody > .row {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  border-bottom: 1px solid $gray-200;

  > .td {
    display: flex;
    align-items: center;
  }
}

.thead {
  font-weight: bold;
}

.actions {
  flex-direction: row-reverse;
}

.tbody > .drawer {
  padding-top: 1rem;
  padding-bottom: 1rem;

  box-shadow: inset 0px 6px 10px -6px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;

  > .td {
    flex-direction: column;
    align-items: flex-start;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.25rem;
  }
}

.cutoff-marker {
  display: flex;
  justify-content: center;
  align-items: baseline;

  .small {
    margin-left: 0.5rem;
  }
}

.row.empty {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 400px;

  border-bottom: 0;
}
