<template name="QueueCard">
  <a class="queue-card card" href="/queueId/cs15">
    <div class="queue-card-pattern card-img-top" style="background: {{svgPatternUrl}}"></div>
    <div class="card-block">
      <h4 class="card-title">cs15 &middot; TA Hours</h4>
      <p class="card-subtitle">Intro to Object-Oriented Programming</p>
      <p class="card-text text-muted m-t-1">
        <span class="m-r-1"><i class="icon ion-android-pin"></i>Fishbowl</span>
        <span><i class="icon ion-android-people"></i>15 students</span>
      </p>
    </div>
    <div class="card-footer text-muted">
      <i class="icon ion-android-time"></i>Ends at 9:30 PM
    </div>
  </a>
</template>
