<template name="QueueCard">
  <div class="queue-card card">
    <img class="card-img-top" src="...">
    <div class="card-block">
      <h4 class="card-title">cs15</h4>
      <p class="card-subtitle">Intro to Object-Oriented Programming</p>
      <p class="card-text text-muted m-t-1">
        <span class="m-r-1"><i class="icon ion-android-pin"></i>Fishbowl</span>
        <span><i class="icon ion-android-people"></i>15 students</span>
      </p>
      <a href="/queueId/cs15" class="btn btn-primary">View Queue</a>
    </div>
  </div>
</template>
