/* Vendor */
@import "{}/node_modules/bootstrap/scss/bootstrap-flex.scss";

/* Material Icons */
i.material-icons {
  margin-right: 5px;

  font-size: 18px;
  vertical-align: text-top;

  transition: none;
}

/* Layouts */
@import "{}/imports/ui/layouts/app-body/app-body.scss";

/* Pages */
@import "{}/imports/ui/pages/login-password/login-password.scss";

/* Components */
@import "{}/imports/ui/components/footer/footer.scss";
@import "{}/imports/ui/components/nav/nav.scss";
@import "{}/imports/ui/components/queue-card/queue-card.scss";
@import "{}/imports/ui/components/queue-header/queue-header.scss";
@import "{}/imports/ui/components/queue-actions/queue-actions.scss";
@import "{}/imports/ui/components/queue-body/queue-body.scss";
