<template name="admin">
  {{#if showAdmin}}
    {{#if Template.subscriptionsReady}}
      <div class="four wide column">
        {{> courseMenu courses=userCourses}}
      </div>

      <div class="twelve wide column">
        {{#each course in userCourses}}
          {{> courseSettings course}}
        {{/each}}
      </div>

      {{#if userIs "admin"}}
        {{> createCourseModal }}
      {{/if}}
    {{/if}}
  {{else}}
    <div class="sixteen wide column">
      You're not an admin or HTA!
    </div>
  {{/if}}
</template>