<template name="ModalJoinQueue">
  <div class="modal-join-queue modal">
    <div class="modal-dialog animated fadeInUp">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="material-icons">close</i>
          </button>
          <h4 class="modal-title">Join Queue</h4>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
          <form id="js-modal-join-queue-form">
            <!-- Students -->
            <div class="form-group">
              <label for="student">Student(s)</label>
              {{#if showStudents}}
                <ul class="student-list list-unstyled m-b-0">
                  {{#each student in students}}
                    <li class="student-item" data-email="{{student.emailAddress}}">
                      <div class="content">
                        <p class="student-name">{{student.fullName}}</p>
                        <small class="text-muted">{{student.emailAddress}}</small>
                      </div>
                      <button type="button" class="close js-remove-student">
                        <i class="material-icons">close</i>
                      </button>
                    </li>
                  {{/each}}
                </ul>
              {{/if}}
              <div class="input-group">
                <input type="email" name="student" class="form-control js-email-input" placeholder="{{studentPlaceholder}}">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Add</button>
                </span>
              </div>
            </div>

            <!-- Question -->
            <div class="form-group">
              <label for="question">Question</label>
              <textarea name="question" class="form-control" rows="3" placeholder="What would you like help on?" required></textarea>
            </div>

            <!-- Notifications -->
            <div class="form-group">
              <label for="notifications" class="m-b-0">Notifications</label>
              <small class="form-text text-muted m-t-0">Choose how you'd like the TA to notify you when your turn comes.</small>
              <div class="form-inline">
                <div class="form-check m-r-1">
                  <label class="form-check-label">
                    <input name="announceCheckbox" class="form-check-input" type="checkbox" checked> Announce my name
                  </label>
                </div>
                <div class="form-check m-r-1">
                  <label class="form-check-label">
                    <input name="emailCheckbox" class="form-check-input js-email-checkbox" type="checkbox"> Email me
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input name="textCheckbox" class="form-check-input js-text-checkbox" type="checkbox"> Text me
                  </label>
                </div>
              </div>
            </div>

            <!-- Notifications: email -->
            <div class="form-group hidden js-notifications-email">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control" placeholder="email_address@brown.edu" value="{{defaultEmail}}">
            </div>

            <!-- Notifications: text -->
            <div class="row hidden js-notifications-text">
              <div class="col-md-6">
                <label for="carrier">Carrier</label>
                <select name="carrier" class="form-control">
                  <option value="" disabled selected>Select carrier</option>
                  {{#each carrier in carriers}}
                    <option value="{{carrier.domain}}">{{carrier.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="col-md-6">
                <label for="number">Phone Number</label>
                <input type="tel" name="number" class="form-control" placeholder="000-000-0000">
              </div>
            </div>
          </form>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" form="js-modal-join-queue-form" class="btn btn-primary">Join Queue</button>
        </div>
      </div>
    </div>
  </div>
</template>
