/**
 * Sticky Footer
 * http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */

#baseLayout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

nav {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

footer {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

td.is-table-empty {
  height: 12rem;
  text-align: center !important; // TODO: Figure out how to override properly.
}

/* joinQueueModal */
.join-queue-modal {
  .indent {
    padding-left: 1.8rem !important;
  }

  .field.hidden {
    display: none !important;
  }
}