<template name="QueueHeader">
  <div class="queue-header">
    <div class="queue-header-background" style="background-image: {{svgPatternUrl}}"></div>
    <div class="container p-t-3 p-b-2">
      <h1 class="display-5 m-b-1">cs15 &middot; TA Hours</h1>
      <div class="info text-muted m-b-1">
        <span class="m-r-1"><i class="material-icons">location_on</i>Fishbowl</span>
        <span class="m-r-1"><i class="material-icons">people</i>15 signups</span>
        <span class="m-r-1"><i class="material-icons">access_time</i>Ends at 9:30 PM</span>
        <a href="#" role="button" class="btn-black-link pull-xs-right">
          <i class="material-icons">mode_edit</i> Edit Queue
        </a>
      </div>
    </div>
  </div>
</template>
