.queue-header-background {
  position: relative;

  height: 100px;

  margin-right: (-1 * $spacer-x);
  margin-bottom: -100px;
  margin-left: (-1 * $spacer-x);

  z-index: -1;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.85), white);
  }
}

.display-5 {
  @extend .display-4;
  font-size: 2rem;
}

.btn-black-link {
  color: black;

  @include hover-focus-active {
    text-decoration: none;
  }
}
