<template name="QueueStatusDropdown">
  <div class="queue-status-dropdown btn-group mr-3">
    {{#if queue.isOpen}}
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">flash_on</i> Active
      </button>
    {{/if}}

    {{#if queue.isCutoff}}
      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">warning</i> Cutoff
      </button>
    {{/if}}

    {{#if queue.isEnded}}
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">do_not_disturb_alt</i> Ended
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item text-success js-reopen-queue" href="#"><i class="material-icons">replay</i>Reopen Queue</a>
      </div>
    {{else}}
      <div class="dropdown-menu">
        {{#if queue.isOpen}}
          <a class="dropdown-item text-warning js-cutoff-queue" href="#"><i class="material-icons">warning</i>Cutoff</a>
        {{else}}
          <a class="dropdown-item text-success js-open-queue" href="#"><i class="material-icons">flash_on</i>Resume Queue</a>
        {{/if}}

        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-danger js-end-queue" href="#"><i class="material-icons">do_not_disturb_alt</i>End Queue</a>
      </div>
    {{/if}}
  </div>
</template>
