<template name="QueueActions">
  <div class="queue-actions p-t-2 p-b-2">
    <div class="container">
      <div class="left-actions">
        {{#if taView}}
          {{> QueueStatusDropdown queue=queue}}
        {{else}}
          {{#if queue.isOpen}}
            <span class="text-success">Active </span>
          {{/if}}

          {{#if queue.isCutoff}}
            <span class="text-warning">Cutoff </span>
          {{/if}}

          {{#if queue.isEnded}}
            <span class="text-danger">Ended </span>
          {{/if}}

          <span class="middot text-muted">&middot;</span>
        {{/if}}
        <span class="text-muted">
          {{#if queue.isOpen}}
            This queue is accepting signups.
          {{/if}}

          {{#if queue.isCutoff}}
            This queue is accepting signups, but you may not be helped.
          {{/if}}

          {{#if queue.isEnded}}
            This queue has ended, and no longer accepting signups.
          {{/if}}
        </span>
      </div>

      <div class="right-actions">
        {{#if taView}}
          <span class="js-announcements-tooltip-wrapper" data-toggle="tooltip" data-placement="left" title="Coming soon!">
            <button type="button" class="btn btn-secondary disabled">
              <i class="material-icons">add</i>
              New announcement
            </button>
          </span>
          {{> QueueMoreDropdown queue=queue}}
        {{else}}
          <button type="button" class="btn btn-primary js-show-modal-join-queue" disabled="{{disableJoinQueue queue}}">
            <i class="material-icons">add</i>
            Join queue
          </button>
        {{/if}}
      </div>
    </div>
  </div>
</template>
