<template name="QueueBody">
  <div class="queue-body container">
    <div class="queue-actions p-t-2 p-b-2">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"> All Tickets
        </label>
      </div>

      <div class="pull-xs-right">
        <button type="button" class="btn btn-secondary">
          <i class="material-icons">add</i>
          New announcement
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary">Edit Queue</button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Clear All</a>
            <a class="dropdown-item" href="#">Shuffle Tickets</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="#">End Queue</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
