<template name="QueueBody">
  <div class="queue-body container">
    <div class="queue-tickets table-responsive p-t-3 p-b-3">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name(s)</th>
            <th>Time</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>Athyuttam Eleti</td>
            <td>3 minutes ago</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-secondary">Claim ticket</button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">More ticket actions</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Mark as missing</a>
                  <a class="dropdown-item danger" href="#">Delete ticket</a>

                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">
              <h5>Question</h5>
              <p>How do trees work?</p>
            </td>
            <td colspan="1">
              <h5>Notifications</h5>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <div class="table-empty-content">
                No signups to show.
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
