<template name="createCourseModal">
  <div class="ui small modal create-course-modal js-create-course-modal">
    <div class="header">
      Create Course
    </div>

    <div class="content">
      <form class="ui form js-create-course-form">
        <div class="fields">
          <div class="four wide field">
            <label>Name</label>
            <input type="text" name="name" placeholder="e.g. cs00" value="{{name}}" required>
          </div>

          <div class="six wide field">
            <label>Description</label>
            <input type="text" name="description" placeholder="e.g. Intro to Object Oriented Programming" value="{{description}}" required>
          </div>

          <div class="six wide field">
            <label>Listserv</label>
            <input type="email" name="listserv" placeholder="e.g. cs00tas@lists.cs.brown.edu" value="{{listserv}}" required>
          </div>
        </div>
      </form>
    </div>

    <div class="actions">
      <button class="ui primary button js-submit-create-course-form">Create Course</button>
    </div>
  </div>
</template>