<template name="nav">
  <nav>
    <div class="ui secondary menu">
      <a href="/" class="item">SignMeUp</a>

      <div class="right icon menu">
        {{#if currentUser }}
          <div class="disabled item">Welcome, {{userShortName}}</div>
        {{/if}}

        {{#if userIs 'admin'}}
          <a class="item" href="/admin"><i class="setting icon"></i></a>
        {{else}}
          {{#if userIs 'hta'}}
            <a class="item" href="/hta"><i class="setting icon"></i></a>
          {{/if}}
        {{/if}}

        {{#if currentUser }}
          <a class="item .js-sign-out"><i class="sign out icon"></i></a>
        {{else}}
          <a href="#" class="item js-sign-in">Sign In</a>
        {{/if}}

      </div>
    </div>
  </nav>
</template>
