<template name="ModalQueueCreate">
  <div class="modal-queue-create modal">
    <div class="modal-dialog animated fadeInUp">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">New Queue</h4>
          <button type="button" class="close" data-dismiss="modal">
            <i class="material-icons">close</i>
          </button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
          <form id="js-modal-queue-create-form">
            <div class="row">
              <!-- Course -->
              <div class="form-group col-md-4">
                <label for="courseId">Course</label>
                <select name="courseId" class="form-control">
                  {{#each course in currentUser.courses}}
                    <option value="{{course._id}}">{{course.name}}</option>
                  {{/each}}
                </select>
              </div>

              <!-- Name -->
              <div class="form-group col-md-8 pl-0">
                <label for="name">Name</label>
                <input type="text" name="name" value="TA Hours" class="form-control">
              </div>
            </div>

            <div class="row">
              <!-- Location -->
              <div class="form-group col-md-7">
                <label for="locationId">Location</label>
                <select name="locationId" class="form-control">
                  <option value="" disabled selected>Select location...</option>
                  {{#each location in locations}}
                    <option value="{{location._id}}">{{location.name}}</option>
                  {{/each}}
                </select>
              </div>

              <!-- End Time -->
              <div class="form-group col-md-5 pl-0">
                <label for="endTime">End Time</label>
                <select name="endTime" class="form-control">
                  <option value="" disabled selected>Select end time...</option>
                  {{#each time in queueEndTimes}}
                    <option value="{{time.ISOString}}">{{time.formattedString}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </form>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" form="js-modal-queue-create-form" class="btn btn-primary">Create Queue</button>
        </div>
      </div>
    </div>
  </div>
</template>
