<template name="queueCard">
  <div class="ui fluid card">
    {{> queueCardContent}}
  </div>
</template>

<template name="queueCardLink">
  <a href="{{queueLink}}" class="ui card">
    {{> queueCardContent}}
  </a>
</template>

<template name="queueCardContent">
  <div class="content">
    <div class="header">
      {{course.name}}{{#if name}} &middot; {{name}}{{/if}}
    </div>
    <div class="meta">{{course.description}}</div>
    <div class="description">
      {{location}} <br>
      {{activeTicketCountText}} <br>
      {{waitTimeInMinutes}} minute waiting time
    </div>
  </div>
</template>