<template name="queueCard">
  <div class="ui fluid card queueCard">
    {{> queueCardContent}}
  </div>
</template>

<template name="queueCardLink">
  <a href="{{queueLink}}" class="ui card queueCard">
    {{> queueCardContent}}
  </a>
</template>

<template name="queueCardContent">
  <div class="content">
    <div class="header">
      {{course.name}}{{#if name}} &middot; {{name}}{{/if}}
    </div>
    <div class="meta">{{course.description}}</div>
    <div class="description">
      {{#if location}}
        {{locationName}} <br>
      {{/if}}
      {{activeTicketCountText}} <br>
      {{waitTimeInMinutes}} minute waiting time
    </div>
  </div>

  {{#if endTime}}
    <div class="extra content">
      <span class="right floated">
        {{readableEndTime}}
      </span>

      Ending at
    </div>
  {{/if}}

  <div class="content {{statusColor}} queue-status">
    {{#if showQueueStatusDropdown}}
      <div class="ui mini right floated icon top left pointing dropdown white button js-status-dropdown">
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#if isActive}}
            <div class="item js-cutoff">
              Cutoff
            </div>
          {{else}}
            <div class="item js-activate">
              Make Active
            </div>
          {{/if}}
          <div class="item js-end-now">End Now</div>
        </div>
      </div>
    {{/if}}

    <span class="{{statusColor}}">{{readableStatus}}</span>
  </div>
</template>