<template name="TicketTAActions">
  <div class="td col-xs-3 actions">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary">Claim ticket</button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Mark as missing</a>
        <a class="dropdown-item text-danger" href="#">Delete ticket</a>
      </div>
    </div>
  </div>
</template>
