<template name="TicketDrawer">
  <div class="ticket-drawer row drawer hidden">
    <div class="container">
      <div class="row">
        <div class="td col-xs-1 text-muted">1m 30s</div>
        <div class="td col-xs-6">
          <h5>Question</h5>
          <p>{{ticket.question}}</p>
        </div>
        <div class="td col-xs-5">
          {{#if taView}}
            <h5>Notifications</h5>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary" disabled>Announce name</button>
              <button type="button" class="btn btn-secondary">Send email</button>
              <button type="button" class="btn btn-secondary">Send text</button>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
