<template name="taQueueList">
  <table class="ui celled table">
    <thead>
      <th class="one wide">No.</th>
      <th class="four wide">Name</th>
      <th class="four wide">Question</th>
      <th class="three wide">Notification</th>
      <th class="four wide">Actions</th>
    </thead>
    <tbody>
      {{#if activeTickets tickets}}
        {{#each ticket in activeTickets tickets}}
          {{#with ticket}}
            {{> taQueueTicket}}
          {{/with}}
        {{/each}}
      {{else}}
        <tr>
          <td class="is-table-empty" colspan="5">
            No one has signed up for this queue yet.
          </td>
        </tr>
      {{/if}}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="5">
          <button class="ui right floated labeled icon button">
            <i class="plus icon"></i> Add Ticket
          </button>

          <button class="ui labeled red icon button" {{disabledState}}>
            <i class="erase icon"></i> Clear All
          </button>

          <button class="ui labeled icon button js-shuffle-queue" {{disabledState}}>
            <i class="random icon"></i> Shuffle
          </button>
        </th>
      </tr>
    </tfoot>
  </table>
</template>

<template name="taQueueTicket">
  <tr class="{{status}} {{flag.flagged}}">
    <td>{{position}}</td>
    <td>{{owner.name}}</td>
    <td>{{question}}</td>
    <td>{{notify.types}}</td>
    <td>
      <div class="ui basic buttons">
        <div class="ui button js-mark-as-done"><i class="checkmark icon"></i>Mark as Done</div>
        <div class="ui floating dropdown icon button js-ticket-actions">
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item"><i class="help icon"></i>Mark as Missing</div>
            <div class="item"><i class="flag icon"></i>Flag</div>
            <div class="item"><i class="trash icon"></i>Delete</div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</template>