<template name="index">
  <div class="ui link cards">
    <a href="/course/cs015" class="red card">
      <div class="content">
        <div class="header">CS015</div>
        <div class="meta">Introduction to Object Oriented Programming</div>
        <div class="description">
          CIT 227 <br>
          15 students in line <br>
          15 minute waiting time
        </div>
      </div>
    </a>

    <a href="/course/cs017" class="blue card">
      <div class="content">
        <div class="header">CS017</div>
        <div class="meta">Functional Programming</div>
        <div class="description">
          CIT 227 <br>
          15 students in line <br>
          15 minute waiting time
        </div>
      </div>
    </a>

    <a href="/course/cs033" class="brown card">
      <div class="content">
        <div class="header">CS033</div>
        <div class="meta">Computer Systems</div>
        <div class="description">
          CIT 227 <br>
          15 students in line <br>
          15 minute waiting time
        </div>
      </div>
    </a>
  </div>
</template>