<template name="queueList">
  <table class="ui celled table">
    <thead>
      <th class="two wide">No.</th>
      <th class="six wide">Name</th>
      <th class="eight wide">Estimated Wait Time</th>
    </thead>
    <tbody>
      {{#if activeTickets tickets}}
        {{#each ticket in activeTickets tickets}}
          {{#with ticket}}
            {{> queueTicket}}
          {{/with}}
        {{/each}}
      {{else}}
        <tr>
          <td class="is-table-empty" colspan="3">
            No signups to show.
          </td>
        </tr>
      {{/if}}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3">
          <button class="ui right floated small primary labeled icon button js-show-join-queue {{disableJoin}}">
            <i class="plus icon"></i> Join Queue
          </button>
        </th>
      </tr>
    </tfoot>
  </table>
</template>

<template name="queueTicket">
  {{#if isOwner}}
    <tr class="owner warning" data-id="{{_id}}">
      <td>{{position}}</td>
      <td>{{owner.name}}</td>
      <td>
        {{waitTime}}
        <div class="ui right floated basic mini buttons">
          <button class="ui icon button js-edit-ticket">
            <i class="write icon"></i>
          </button>
          <button class="ui icon button js-cancel-ticket">
            <i class="trash icon"></i>
          </button>
        </div>
      </td>
    </tr>
  {{else}}
    <tr>
      <td>{{position}}</td>
      <td>{{owner.name}}</td>
      <td>{{waitTime}}</td>
    </tr>
  {{/if}}
</template>