<template name="joinQueueModal">
  <div class="ui small modal join-queue-modal js-join-queue-modal">
    <div class="header">
      Join Queue
    </div>

    <div class="content">
      <form class="ui form js-join-queue-form">
        <!-- Errors -->
        <div class="ui error message">
          <div class="list">

          </div>
        </div>

        <!-- Name -->
        <div class="required field">
          <label>Name</label>
          <input type="text" name="name" value={{userName}} required>
        </div>

        <!-- Question -->
        <div class="required field">
          <label>Question</label>
          <textarea name="question" rows="3" placeholder="Enter a short summary of your question." required></textarea>
        </div>

        <!-- Notification -->
        <div class="grouped fields">
          <label>Notification</label>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="announce" checked>
              <label>Announce my name</label>
            </div>
          </div>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="email" data-helper="notify-email-helper">
              <label>Email me</label>
            </div>
          </div>
          <div class="field indent notify-email-helper hidden">
            <div class="ui input">
              <input type="email" name="emailAddress" value={{userEmail}} placeholder="Email Address">
            </div>
          </div>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="text" data-helper="notify-text-helper">
              <label>Text me</label>
            </div>
          </div>
          <div class="two fields indent notify-text-helper hidden">
            <div class="field">
              <div class="ui input">
                <input type="tel" name="phone" placeholder="Phone Number">
              </div>
            </div>
            <div class="field">
              <select name="carrier" class="ui fluid search dropdown js-carrier-dropdown">
                <option value="">Select Carrier</option>
                {{#each carrier in carriers}}
                  <option value="{{carrier.domain}}">{{carrier.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="actions">
      <button class="ui primary button js-submit-join-queue-form">Join Queue</button>
    </div>
  </div>
</template>