.queue-actions {
  border-top: 1px solid $gray-200;
  border-bottom: 1px solid $gray-200;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .left-actions {
    display: flex;
    align-items: center;
  }

  .middot {
    margin: 0 0.5rem;
  }
}
