<template name="QueueActions">
  <div class="queue-actions container pt-4 pb-4 text-center text-md-left">
    <div class="row">
      <div class="col-12 col-md-6 mb-2 mb-md-0">
        {{#if taView}}
          {{> QueueStatusDropdown queue=queue}}
        {{else}}
          {{#if queue.isOpen}}
            <span class="text-success">Active </span>
          {{/if}}

          {{#if queue.isCutoff}}
            <span class="text-warning">Cutoff </span>
          {{/if}}

          {{#if queue.isEnded}}
            <span class="text-danger">Ended </span>
          {{/if}}

          <span class="middot text-muted d-none d-md-inline">&middot;</span>
        {{/if}}

        <span class="text-muted status-text d-none d-md-inline">
          {{#if queue.isOpen}}
            This queue is accepting signups.
          {{/if}}

          {{#if queue.isCutoff}}
            This queue is accepting signups, but you may not be helped.
          {{/if}}

          {{#if queue.isEnded}}
            This queue has ended, and no longer accepting signups.
          {{/if}}
        </span>
      </div>

      <div class="col-12 col-md-6 text-md-right">
        {{#if taView}}
          <span class="js-announcements-tooltip-wrapper mr-1" data-toggle="tooltip" data-placement="left" title="Coming soon!">
            <button type="button" class="btn btn-outline-secondary disabled">
              <i class="material-icons">add</i>
              New announcement
            </button>
          </span>
          {{> QueueMoreDropdown queue=queue}}
        {{else}}
          <button type="button" class="btn btn-primary js-show-modal-join-queue" disabled="{{disableJoinQueue queue}}">
            <i class="material-icons">add</i>
            Join queue
          </button>
        {{/if}}
      </div>
    </div>
  </div>
</template>
