/**
 * Sticky Footer
 * http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */

#baseLayout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

nav {
  padding-top: 1rem;
  padding-bottom: 2rem;

  i.icon {
    margin-right: 0 !important;
  }
}

footer {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.create-queue-button {
  min-height: 200px !important;
  box-shadow: none !important;
  border: 10px dashed #eee !important;

  .plus.icon {
    margin: auto;
    padding-top: 10px;

    font-size: 3rem;
    color: #eee;
  }

  &:hover {
    border-color: #ddd;
    color: #ddd;
  }
}

td.is-table-empty {
  height: 12rem;
  text-align: center !important; // TODO: Figure out how to override properly.
}

/* joinQueueModal */
.join-queue-modal {
  .indent {
    padding-left: 1.8rem !important;
  }

  .field.hidden {
    display: none !important;
  }
}

.404 {
  display: flex !important;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.courseMenu {
  .add-course-button {
    position: absolute;
    top: 7px;
    right: 7px;
  }
}

/* Course Settings */
.courseSettings {
  display: none !important;

  &.active {
    display: block !important;
  }

  .no-tas {
    padding: 5em 0;
    text-align: center;
    opacity: 0.9;
  }
}

/* queueCard */
.queueCard {
  .queue-status {
    &.blue {
      background-color: #1683D3 !important;
      color: white;
    }

    &.yellow {
      background-color: #FFFAF3 !important;
    }

    &.red {
      background-color: #DD251E !important;
      color: white;
    }
  }
}

/* queueList */
.cutoff-marker {
  text-align: center;
  background-color: #FFFAF3;
}

.queueTicket {
  td {
    position: relative;
  }

  .cancel-ticket-button {
    position: absolute;
    top: 6px;
    right: 12px;
  }
}
