<template name="TicketDrawer">
  <div class="ticket-drawer row drawer hidden py-3">
    <div class="container">
      <div class="row">
        <div class="td col-2 col-md-1 text-muted">
          {{#if ticket.isClaimed}}
            {{formattedClaimDuration}}
          {{/if}}
          {{#if ticket.isMarkedAsMissing}}
            {{formattedMissingDuration}}
          {{/if}}
        </div>
        <div class="td col-10 col-md-11">
          <h5 class="mb-2">Question</h5>
          <p>{{ticket.question}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
