<template name="TicketDrawer">
  <div class="ticket-drawer row drawer hidden py-3">
    <div class="container">
      <div class="row">
        <div class="td col-2 col-sm-1 text-muted">
          {{#if ticket.isClaimed}}
            {{formattedClaimDuration}}
          {{/if}}
        </div>
        <div class="td col-10 col-sm-5">
          <h5 class="mb-2">Question</h5>
          <p>{{ticket.question}}</p>
        </div>
        <div class="td col-12 col-sm-6">
          {{#if taView}}
            <h5 class="mb-2">Notifications</h5>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-secondary" disabled>Announce name</button>

              {{#if showEmailNotificationButton ticket}}
                <button type="button" class="btn btn-outline-secondary js-notify-email">Send email</button>
              {{/if}}

              {{#if showTextNotificationButton ticket}}
                <button type="button" class="btn btn-outline-secondary js-notify-text">Send text</button>
              {{/if}}
            </div>
          {{/if}}

          <div class="js-notification-result mt-1"></div>
        </div>
      </div>
    </div>
  </div>
</template>
