<template name="QueueTable">
  <div class="queue-table container">
    <div class="custom-table container m-t-3 m-b-3">
      <div class="thead">
        <div class="row">
          <div class="td col-xs-1">No.</div>
          <div class="td col-xs-6">Name(s)</div>
          <div class="td col-xs-2">Time</div>
        </div>
      </div>

      <div class="tbody">
        {{#if activeTicketsAvailable queue}}
          {{#each ticket in queue.activeTickets}}
            {{> Ticket ticket=ticket}}
          {{/each}}
        {{else}}
          <div class="row empty">
            No signups to show.
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
