.input-daterange {
  input:first-child {
    border-radius: 4px 0 0 4px;
  }

  .input-group-addon {
    margin: 0 !important;
    padding: 0.5rem 1rem !important;
  }

  input:last-child {
    border-radius: 0 4px 4px 0;
  }
}
