<template name="CoursesGeneral">
  <div class="tab-pane fade in active" id="courses-general" role="tab-panel">
    <div class="card">
      <div class="card-header">Info</div>
      <div class="card-block">
        <form id="update-course-form">
          <div class="row">
            <div class="form-group col-md-4">
              <label for="name">Name</label>
              <input type="text" name="name" value="{{course.name}}" class="form-control">
            </div>

            <div class="form-group col-md-6 pl-0">
              <label for="description">Description</label>
              <input type="text" name="description" value="{{course.description}}" class="form-control">
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-secondary btn-inline">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-header">Settings <span class="tag tag-default">Coming Soon</span></div>

      <form id="update-course-settings-form">
        <div class="card-block">
          <div class="form-check disabled mb-0">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="restrictSessionsByDefault" checked="{{course.settings.restrictSessionsByDefault}}" disabled>
              <p>
                Restrict signups to device by default<br>
                <span class="text-muted">Limit signups to the TA's machine for all new queues.</span>
              </p>
            </label>
          </div>
        </div>

        <div class="card-block">
          <div class="form-group row mb-0">
            <label for="signup-gap" class="col-xs-9 col-form-label">
              <span>Signup Gap</span><br>
              <span>Minimum time a student must wait after resolution to sign up again.</span>
            </label>
            <div class="col-xs-3">
              <select class="form-control mt-1" name="signupGap">
                <option value="0" selected="{{isCurrentSignupGap course 0}}">No gap</option>
                <option value="15" selected="{{isCurrentSignupGap course 15}}">15 minutes</option>
                <option value="30" selected="{{isCurrentSignupGap course 30}}">30 minutes</option>
                <option value="45" selected="{{isCurrentSignupGap course 45}}">45 minutes</option>
                <option value="60" selected="{{isCurrentSignupGap course 60}}">1 hour</option>
              </select>
            </div>
          </div>
        </div>

        <div class="card-block">
          <div class="form-group">
            <label for="signup-gap" class="col-form-label">
              <span class="text-muted">Notifications</span><br>
              <span class="text-muted">Choose which notification methods students can request.</span>
            </label>
            <div class="form-inline">
              <div class="form-check disabled mr-0">
                <label class="form-check-label">
                  <input name="allowEmail" class="form-check-input" type="checkbox" checked="{{course.settings.notifications.allowEmail}}" disabled> Allow email notifications
                </label>
              </div>
              <div class="form-check disabled">
                <label class="form-check-label">
                  <input name="allowText" class="form-check-input" type="checkbox" checked="{{course.settings.notifications.allowText}}" disabled> Allow text notifications
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
