<template name="SettingsLocations">
  <div class="settings-locations">
    <h3 class="mb-2">Locations</h3>

    <div class="card">
      <div class="card-header">Locations</div>
      <div class="card-block">
        <form id="add-location-form">
          <div class="input-group">
            <input type="text" class="form-control js-location-name" name="locationName" placeholder="CIT 123">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="submit">Add</button>
            </span>
          </div>
        </form>
      </div>

      {{#each location in locations}}
        <div class="card-block">
          <div class="row mb-0">
            <p class="location-name col-xs-9 mb-0">
              {{location.name}}
            </p>
            <div class="col-xs-3 flex flex-items-xs-middle flex-items-xs-right">
              <button
                class="btn btn-outline-danger pull-xs-right js-remove-location"
                data-name="{{location.name}}"
                data-id="{{location._id}}">
                Remove
              </button>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>
